Client GAME!!!
<br>

<div id="status"></div>
<div id="statusMove"></div>

<button id="btn_start" >START</button>
<br>

<button id="btn_left">LEFT</button>
<button id="btn_right">RIGHT</button>
<button id="btn_top">TOP</button>
<button id="btn_bottom">BOOTOM</button>


<script src="/socket.io/socket.io.js"></script>
<script>


    var socket = io();

    //socket.emit('chat message', 'bla bla bla');


    document.getElementById('status').innerHTML = 'loading....';

    document.getElementById('btn_start').addEventListener('click', () => {
        requestOrientationPermission();
    });
    document.getElementById('btn_left').addEventListener('click', () => {
        socket.emit('spaceChange', {'ax': 'left'});
    });
    document.getElementById('btn_right').addEventListener('click', () => {
        socket.emit('spaceChange', {'ax': 'right'});
    });
    document.getElementById('btn_top').addEventListener('click', () => {
        socket.emit('spaceChange', {'ax': 'top'});
    });
    document.getElementById('btn_bottom').addEventListener('click', () => {
        socket.emit('spaceChange', {'ax': 'bottom'});
    });


    //iOS detection and corresponding action
    var lastkey = false;
    var dataStart = 0;

    socket.on('connect', function () {
        //if sockets gets disconnected then mention room again
        socket.emit('setChannel', {'channelName': 'GameRoom01'});
        console.log('---- connect');
    });




    socket.on('gameChanges', function (data) {

        console.log('---- gameChanges', data);



        if (dataStart == 0) {
            //First movement data arrived
            document.getElementById('status').innerHTML = 'Receiving data from your iOS device';
            dataStart = 1;
        }
        ax = data.ax;
        var posob = new Object();
        if (ax == 2) {
            //move right
            lastkey = 39;
            posob.keyCode = lastkey;
            posob.type = 'keydown';
            document.getElementById('status').innerHTML = 'iOS device tilted right';
        }
        if (ax == 1) {
            //move left
            lastkey = 37;
            posob.keyCode = lastkey;
            posob.type = 'keydown';
            document.getElementById('status').innerHTML = 'iOS device tilted left';
        }
        if (ax == 3) {
            //hold ship in place
            posob.keyCode = lastkey;
            posob.type = 'keyup';
            document.getElementById('status').innerHTML = 'iOS device held steady';
        }
        //Send action received above
        keypressaction(posob);

    });



    //socket.emit('spaceChange', {'ax': 3,'channelName': 'GameRoom01'});




    /*
    //Fire automatically once first data starts
    window.setInterval(function () {

        if (dataStart == 1) {
            var posob = new Object();
            posob.keyCode = 32;
            posob.type = 'keydown';
            keypressaction(posob);
            posob.keyCode = 32;
            posob.type = 'keyup';
            keypressaction(posob);
        }
    //Timer is correctly a shot ever 200ms.
    //Decrease 200 to lower for even faster firing!
    }, 1000);
    */



    function handleMotionEvent(event) {

        document.getElementById('statusMove').innerHTML = 'ondevicemotion.... MOVE!!!';


        const x = event.accelerationIncludingGravity.x;
        const y = event.accelerationIncludingGravity.y;
        const z = event.accelerationIncludingGravity.z;

        // Do something awesome.

        document.getElementById('statusMove').innerHTML = 'ondevicemotion.... MOVE!!!  '+x+' '+y+' '+z;

        console.log(x,y,z);
    }

    function requestOrientationPermission(){
        DeviceOrientationEvent.requestPermission()
            .then(response => {
                if (response == 'granted') {
                    window.addEventListener('deviceorientation', (e) => {
                        // do something with e
                        window.addEventListener('devicemotion', handleMotionEvent);
                    })
                }
            })
            .catch(console.error)
    }



/*
    // feature detect
    if (typeof DeviceMotionEvent.requestPermission === 'function') {
        console.log('DeviceMotionEvent');
        DeviceMotionEvent.requestPermission()
            .then(permissionState => {
                if (permissionState === 'granted') {
                    console.log('--- handleMotionEvent 1');
                    window.addEventListener('devicemotion', handleMotionEvent);
                }
            })
            .catch(console.error);
    } else {
        // handle regular non iOS 13+ devices
        console.log('--- handleMotionEvent 2');
        window.addEventListener('devicemotion', handleMotionEvent);
    }
    */



    //Detect if the browser supports DeviceMotionEvent
    if (window.DeviceMotionEvent != undefined) {
        //ondevicemotion is fired when iOS device detects motion



        //window.addEventListener("devicemotion", handleMotionEvent, true);

        //document.getElementById('statusMove').innerHTML = 'ondevicemotion_1....';




/*
        window.ondevicemotion = function (event) {
            //ax is the movement on the x axis.
            //This motion is used to move the ship in the game
            ax = event.accelerationIncludingGravity.x * 5;
            ay = event.accelerationIncludingGravity.y * 5;

            document.getElementById('statusMove').innerHTML = 'ondevicemotion....'+ax+' - '+ay;

            //Status 0 is start, 1 is left, 2 is right, 3 is stay
            if (status == 0) { //initial condition
                status = 3; //stay
                socket.emit('spaceChange', {'ax': 3});
                statusmsg = 'Waiting for movement';
            }
            if (ax > 14 && status != 2) { //move right on device
                status = 2;
                socket.emit('spaceChange', {'ax': 2});
                statusmsg = 'Moving ship right';
            }
            if (ax < -14 && status != 1) { //move left on device
                status = 1;
                socket.emit('spaceChange', {'ax': 1});
                statusmsg = 'Moving ship left';
            }
            if (ax > -14 && ax < 14 && status != 3) { //device held steady
                status = 3;
                socket.emit('spaceChange', {'ax': 3});
                statusmsg = 'Ship held steady';
            }
        }

 */
    }




    function keypressaction(data) {
        console.log('TODO:',data );
    }

</script>