GAME!!!
<br>

<div id="status"></div>
<div id="statusMove"></div>

<button id="btn_start">START</button>
<button id="btn_left">LEFT</button>
<button id="btn_right">RIGHT</button>


<br><br>

<button onclick='requestOrientationPermission();'>Request orientation permission</button>


<script>


    function requestOrientationPermission(){
        DeviceOrientationEvent.requestPermission()
            .then(response => {
                if (response == 'granted') {
                    window.addEventListener('deviceorientation', (e) => {
                        // do something with e
                        window.addEventListener('devicemotion', handleMotionEvent);
                    })
                }
            })
            .catch(console.error)
    }


    function handleMotionEvent(event) {

        document.getElementById('statusMove').innerHTML = 'ondevicemotion.... MOVE!!!';


        const x = event.accelerationIncludingGravity.x;
        const y = event.accelerationIncludingGravity.y;
        const z = event.accelerationIncludingGravity.z;

        // Do something awesome.

        document.getElementById('statusMove').innerHTML = 'ondevicemotion.... MOVE!!!  '+x+' '+y+' '+z;

        console.log(x,y,z);
    }



    // feature detect
    if (typeof DeviceMotionEvent.requestPermission === 'function') {

    } else {
        // handle regular non iOS 13+ devices
        console.log('--- handleMotionEvent 2');
        document.getElementById('statusMove').innerHTML = 'ondevicemotion_3....DeviceMotionEvent';
        window.addEventListener('devicemotion', handleMotionEvent);
    }



    //Detect if the browser supports DeviceMotionEvent
    if (window.DeviceMotionEvent != undefined) {
        //ondevicemotion is fired when iOS device detects motion



        //window.addEventListener("devicemotion", handleMotionEvent, true);

        document.getElementById('statusMove').innerHTML = 'ondevicemotion_1....';




        /*
                window.ondevicemotion = function (event) {
                    //ax is the movement on the x axis.
                    //This motion is used to move the ship in the game
                    ax = event.accelerationIncludingGravity.x * 5;
                    ay = event.accelerationIncludingGravity.y * 5;

                    document.getElementById('statusMove').innerHTML = 'ondevicemotion....'+ax+' - '+ay;

                    //Status 0 is start, 1 is left, 2 is right, 3 is stay
                    if (status == 0) { //initial condition
                        status = 3; //stay
                        socket.emit('spaceChange', {'ax': 3});
                        statusmsg = 'Waiting for movement';
                    }
                    if (ax > 14 && status != 2) { //move right on device
                        status = 2;
                        socket.emit('spaceChange', {'ax': 2});
                        statusmsg = 'Moving ship right';
                    }
                    if (ax < -14 && status != 1) { //move left on device
                        status = 1;
                        socket.emit('spaceChange', {'ax': 1});
                        statusmsg = 'Moving ship left';
                    }
                    if (ax > -14 && ax < 14 && status != 3) { //device held steady
                        status = 3;
                        socket.emit('spaceChange', {'ax': 3});
                        statusmsg = 'Ship held steady';
                    }
                }

         */
    }



</script>